@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body {
  width: 100%;
  font-family: 'Manrope', sans-serif;
  background-color: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  border-radius: 10px;
  margin: 0 1rem 3rem 1rem;
  background-color: hsl(217, 19%, 24%);
  box-shadow: 3px 3px 10px 1px rgba(151, 151, 151, 0.137);
}

img {
  width: 80%;
  object-fit: contain;
  margin-top: 2rem;
}

h2 {
  font-size: 1.4rem;
  margin: 1.5rem 0;
  text-align: center;
}

select {
  text-align: center;
  width: 50%;
  margin: 0.5rem 0 2rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
  color: hsl(218, 23%, 16%);
}

label {
  font-size: 1.2rem;
}

input {
  width: 10rem;
  text-align: center;
  padding: 0.3rem 2rem;
  margin-bottom: 2rem;
  background-color: transparent;
  outline: 0;
  border: none;
  border-bottom: 2px solid hsl(193, 38%, 86%);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}

input::placeholder {
  color: hsla(0, 0%, 100%, 0.61);
}

button {
  all: unset;
  align-self: center;
  background-color: hsl(150, 100%, 66%);
  color: transparent;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.3s;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 3px 3px 10px 1px rgba(151, 151, 151, 0.295);
}

button:after {
  content: '';
  color: hsl(217, 54%, 11%);
  background-image: url('./img/download.svg');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(150, 100%, 66%);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 3.8rem;
  left: 0;
  transition: all 0.3s;
}

button::before {
  content: 'Download';
  color: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(150, 100%, 66%);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s;
}

button:hover {
  scale: 1.1;
}

button:hover::after {
  transform: translateY(-3.8rem);
}

button:hover::before {
  transform: translateY(-3.8rem);
}

button:active {
  scale: 0.9;
  box-shadow: none;
}
